<!-- ======= Aboutg Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Tentang</h2>
        <p>Hidup Saya</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Gamer</h3>
          <p class="font-italic"></p>

          <div class="row">
            <div class="col-lg-8">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Nama Lengkap :</strong> Hasanul Fitri</li></strong>
                <li><i class="icofont-rounded-right"></i> <strong>Alias        :</strong> CingYt</li>
                <li><i class="icofont-rounded-right"></i> <strong>Tanggal Lahir:</strong> 29 November 2000</li>
                <li><i class="icofont-rounded-right"></i> <strong>Alamat       :</strong> Indonesia, Aceh, Lampeneurut UB</li> 
                <li><i class="icofont-rounded-right"></i> <strong>Agama        :</strong> Islam</li> 
                <li><i class="icofont-rounded-right"></i> <strong>Pekerjaan    :</strong> Mahasiswa</li>
                <li><i class="icofont-rounded-right"></i> <strong>Status       :</strong> Masih Single</li>
              </ul>
            </div>
          
          <p>
            Ini adalah biografi hidup saya, Nama Lengkap saya Hasanul Fitri, banyak teman sekitar saya memanggil saya dengan sebutan CingYt, 
            saya berasal dari Kota Aceh Besar tepatnya dari daerah Lampeneurut Ujong Blang, Saya anak kedua dari dua bersodara, Saya lahir pada
            tanggal 29 November 2000 di Aceh Besar, Pekerjaan sekarang ialah saya masih Mahasiswa aktif di salah universitas swasta ternama yaitu 
            Politeknik Aceh.

          </p>
        </div>
      </div>

    </div><!-- End About Me -->
