 <!-- ======== Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Curiculum vitae</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Pendidikan Formal</h3>
          <div class="resume-item pb-0">
            <h4>TK</h4>
            <h5>TK Bungong Padee 2005-2006</h5></div>
          <div class="resume-item pb-0">
            <h4>SD</h4>
            <h5>SDN 1 Lampeneurut Unggul 2006-2012</h5></div>
          <div class="resume-item pb-0">
              <h4>MTsN</h4>
              <h5>MtsN 2 Banda Aceh 2012-2015</h5></div>
          <div class="resume-item pb-0">
              <h4>SMK</h4>
              <h5>SMKN 1 Banda Aceh 2015-2018</h5></div>


          <h3 class="resume-title">Pendidikan Tambahan / Kursus</h3>
            <div class="resume-item pb-0">
              <h4>Program Praktek Industri (PPI) di Dinas Kependudukan dan Pencatatan Sipil</h4>
              <h5>Banda Aceh Pada Tahun 2020</h5></div>  

            <div class="resume-item pb-0">
                <h4>Praktek Kerja Lapangan (PKL) di Kantor Kejaksanaan Tinggi Aceh</h4>
                <h5>Banda Aceh Pada Tahun 2017</h5></div>

            <div class="resume-item pb-0">
                  <h4>Pelatihan Program Microsoft Office 2007 dan Program Peningkatan Kompetensi Keahlian</h4>
                  <h5>Banda Aceh Pada Tahun 2017</h5></div>
          
            <div class="resume-item pb-0">
                    <h4>Kursus Bahasa Germany</h4>
                    <h5>Banda Aceh Pada Tahun 2017</h5></div>

            <div class="resume-item pb-0">
                      <h4>Pelatihan Pemasyarakatan Kewirausahaan Oleh Kementrian Koperasi dan UKM</h4>
                      <h5>Banda Aceh Pada Tahun 2017</h5></div>
          
            <div class="resume-item pb-0">
                        <h4>Pelatihan Tes Inteligensi Siswa Pada Program Pengembangan Mutu dan SDM</h4>
                        <h5>Banda Aceh Pada Tahun 2013</h5></div>

                        
                          <h3 class="resume-title">Pengalaman Kerja</h3>
                          <div class="resume-item pb-0">
                            <h4>Kejaksanaan Tinggi Aceh</h4>
                            <h5>Posisi Administrasi, Pada Tanggal 19 Juni 2017 - 19 September 2017</h5></div>
                          <div class="resume-item pb-0">
                            <h4>Dinas Kependudukan dan Pencatatan Sipil Kota Banda Aceh</h4>
                            <h5>Posisi Operator, Pada Tanggal 27 Agustus 2020 - 27 Januari 2021</h5></div>
                          
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
